h1 {
    text-align: center;
    color: red;
    font-weight: 20px;
}
h3 {
    color: blue;
    font-weight: 10px;
}
p {
    background-color: grey;
}
strong {
    color: yellowgreen;
    text-decoration: none;
}
em {
    text-decoration: underline;
    font-size: large;
    color: orange;
    font-style: normal;
}
article:last-child p {
    background-color: rgb(233, 180, 180);
}
article:nth-child(odd) h3 {
color: green;
text-decoration: underline;
text-align: right;
}